@charset "ISO-8859-1";
body{
	overflow: auto;
}
.accountscontainer{
	margin: 0;
	padding: 0;
}

.user-details{
	margin-left: 15%;
	padding-top: 20px;
	width: 85%;
	height: auto;
	display: inline-flex;
}
.user-details .account-details{
	float: left;
}
.user-details .lastlogindetails{
	margin-left: auto;
}
.user-details div{
	display: inline-flex;
}
.user-details p {
	font-size: 1.2em;
	color: #12a8e0;
}
.user-details span{
	padding: 3px 5px 0px 5px;
	opacity: 0.9;
}

@media screen and (max-width: 749px){
	.user-details{
		margin-left: 2%;
	}
	.user-details .lastlogindetails{
		display: none;
	}
}
