<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scii.training.mapper.IMapper">
	<resultMap type="SBIAccountTypeModel" id="accountTypeInfo">
		<result property="account_TypeId" column="account_TypeId"/>
		<result property="account_Type" column="account_Type" />
	</resultMap>
	<resultMap type="StateModel" id="stateInfo">
		<result property="state_code" column="state_code"/>
		<result property="state_name" column="state_name"/>
		<result property="country_code" column="country_code"/>
	</resultMap>
	<resultMap type="CityModel" id="cityInfo">
		<result property="city_name" column="city_name"/>
		<result property="city_code" column="city_code"/>
		<result property="state_code" column="state_code"/>
	</resultMap>
	<resultMap type="OccupationModel" id="occupationInfo">
		<result property="customer_OccupationId" column="customer_OccupationId"/>
		<result property="customer_Occupation" column="customer_Occupation"/>
	</resultMap>
	<resultMap type="RegisterModel" id="registerInfo">
		<result property="customer_Id" column="customer_Id"/>
		<result property="account_Number" column="account_Number"/>
		<result property="customer_AccountTypeId" column="customer_AccountTypeId"/>
		<result property="customer_AccountType" column="customer_AccountType"/>
		<result property="customer_FirstName" column="customer_FirstName"/>
		<result property="customer_LastName" column="customer_LastName"/>
		<result property="customer_Gender" column="customer_Gender"/>
		<result property="customer_Phone" column="customer_Phone"/>
		<result property="customer_Email" column="customer_Email"/>
		<result property="customer_DOB" column="customer_DOB"/>
		<result property="customer_Address" column="customer_Address"/>
		<result property="customer_ZipCode" column="customer_Zipcode"/>
		<result property="state_code" column="state_code"/>
		<result property="state_name" column="state_name"/>
		<result property="city_code" column="city_code"/>
		<result property="city_name" column="city_name"/>
		<result property="customer_Aadhar" column="customer_Aadhar"/>
		<result property="customer_OccupationId" column="customer_OccupationId"/>
		<result property="customer_Occupation" column="customer_Occupation"/>
		<result property="imgFile" column="imgFile"/>
		<result property="customer_Password" column="customer_Password"/>
		<result property="joint_customer_FirstName" column="joint_customer_FirstName"/>
		<result property="joint_customer_LastName" column="joint_customer_LastName"/>
		<result property="joint_customer_Gender" column="joint_customer_Gender"/>
		<result property="joint_customer_Phone" column="joint_customer_Phone"/>
		<result property="joint_customer_Email" column="joint_customer_Email"/>
		<result property="joint_customer_DOB" column="joint_customer_DOB"/>
		<result property="joint_customer_Address" column="joint_customer_Address"/>
		<result property="joint_customer_ZipCode" column="joint_customer_ZipCode"/>
		<result property="joint_state_code" column="joint_state_code"/>
		<result property="joint_state_name" column="joint_state_name"/>
		<result property="joint_city_code" column="joint_city_code"/>
		<result property="joint_city_name" column="joint_city_name"/>
		<result property="joint_customer_Aadhar" column="joint_customer_Aadhar"/>
		<result property="joint_customer_OccupationId" column="joint_customer_OccupationId"/>
		<result property="joint_customer_Occupation" column="joint_customer_Occupation"/>
		<result property="created_date" column="created_date"/>
		<result property="updated_date" column="updated_date"/>
		<result property="last_login_dateTime" column="last_login_dateTime"/>
		<result property="block_flg" column="block_flg"/>
		<result property="active_flg" column="active_flg"/>
		<result property="deactivated_Date" column="deactivated_Date"/>
	</resultMap>
	<resultMap type="TransactionsModel" id="transactionInfo">
		<result property="transaction_Id" column="transaction_Id"/>
		<result property="from_account_Number" column="from_account_Number"/>
		<result property="to_account_Number" column="to_account_Number"/>
		<result property="amount" column="amount"/>
		<result property="transaction_Date" column="transaction_Date"/>
		<result property="description" column="description"/>
		<result property="cr_dr" column="cr_dr"/>
		<result property="account_Number" column="account_Number"/>
		<result property="balance" column="balance"/>
	</resultMap>
	
	<select id="getAccountTypes" parameterType="scii.training.model.SBIAccountTypeModel" resultMap="accountTypeInfo">
		select
			ACCOUNT_TYPEID,
			ACCOUNT_TYPE
		from
			SBI_ACCOUNT_TYPES
	</select>
	
	<select id="getStatesList" parameterType="scii.training.model.StateModel" resultMap="stateInfo">
		select
			STATE_CODE,
			STATE_NAME
		from
			STATES
	</select>
	
	<select id="getCitiesList" parameterType="scii.training.model.CityModel" resultMap="cityInfo">
		select
			CITY_NAME,
			CITY_CODE,
			STATE_CODE
		from
			CITIES
	</select>
	
	<select id="getFilteredCitiesList" parameterType="scii.training.model.CityModel" resultMap="cityInfo">
		select
			CITY_NAME,
			CITY_CODE,
			STATE_CODE
		from
			CITIES
		where
			STATE_CODE = #{state_code}
	</select>
	
	<select id="getOccupationsList" parameterType="scii.training.model.OccupationModel" resultMap="occupationInfo">
		select
			CUSTOMER_OCCUPATIONID,
			CUSTOMER_OCCUPATION
		from
			CUSTOMER_OCCUPATION
	</select>
	
	<select id="checkRegisteredCustomer" parameterType="scii.training.model.RegisterModel" resultMap="registerInfo">
		select
			CUSTOMER_ID,
			ACCOUNT_NUMBER,
			CUSTOMER_ACCOUNTTYPEID,
			CUSTOMER_FIRSTNAME,
			CUSTOMER_LASTNAME,
			CUSTOMER_PHONE,
			CUSTOMER_EMAIL,
			CUSTOMER_PASSWORD
		from
			SBIUSERS
		where
			CUSTOMER_ACCOUNTTYPEID = #{customer_AccountTypeId} and
			CUSTOMER_PHONE = #{customer_Phone} and
			CUSTOMER_EMAIL = #{customer_Email}
	</select>
	
	<select id="userLogin" parameterType="scii.training.model.RegisterModel" resultMap="registerInfo">
		select
			*
		from
			SBIUSERS
		where
			CUSTOMER_ID = #{customer_Id} and
			CUSTOMER_PASSWORD = #{customer_Password}
	</select>
	
	<select id="fetchBalance" parameterType="scii.training.model.TransactionsModel" resultMap="transactionInfo">
		select
			*
		from
			AVAILABLE_BALANCE
		where
			ACCOUNT_NUMBER = #{account_Number}
	</select>

	<select id="getBeneficiaryDetails" parameterType="scii.training.model.RegisterModel" resultMap="registerInfo">
		select
			*
		from
			SBIUSERS
		where
			ACCOUNT_NUMBER = #{account_Number}
	</select>

	<select id="getCustomerTransactions" parameterType="scii.training.model.TransactionsModel" resultMap="transactionInfo">
		select
			*
		from
			TRANSACTIONS
		where
			FROM_ACCOUNT_NUMBER = #{from_account_Number}
		or
			TO_ACCOUNT_NUMBER = #{to_account_Number}
	</select>
	
	<insert id="insertCustomerDetails" parameterType="scii.training.model.RegisterModel">
		insert into
			SBIUSERS(
				CUSTOMER_ACCOUNTTYPEID,
				CUSTOMER_ACCOUNTTYPE,
				CUSTOMER_FIRSTNAME,
				CUSTOMER_LASTNAME,
				CUSTOMER_GENDER,
				CUSTOMER_PHONE,
				CUSTOMER_EMAIL,
				CUSTOMER_DOB,
				CUSTOMER_ADDRESS,
				CUSTOMER_ZIPCODE,
				STATE_CODE,
				STATE_NAME,
				CITY_CODE,
				CITY_NAME,
				CUSTOMER_AADHAR,
				CUSTOMER_OCCUPATIONID,
				CUSTOMER_OCCUPATION,
				IMGFILE,
				CUSTOMER_PASSWORD,
				JOINT_CUSTOMER_FIRSTNAME,
				JOINT_CUSTOMER_LASTNAME,
				JOINT_CUSTOMER_GENDER,
				JOINT_CUSTOMER_PHONE,
				JOINT_CUSTOMER_EMAIL,
				JOINT_CUSTOMER_DOB,
				JOINT_CUSTOMER_ADDRESS,
				JOINT_CUSTOMER_ZIPCODE,
				JOINT_STATE_CODE,
				JOINT_STATE_NAME,
				JOINT_CITY_CODE,
				JOINT_CITY_NAME,
				JOINT_CUSTOMER_AADHAR,
				JOINT_CUSTOMER_OCCUPATIONID,
				JOINT_CUSTOMER_OCCUPATION,
				CREATED_DATE
			)
		values(
			#{customer_AccountTypeId},
			#{customer_AccountType},
			#{customer_FirstName},
			#{customer_LastName},
			#{customer_Gender},
			#{customer_Phone},
			#{customer_Email},
			TO_DATE(#{customer_DOB}, 'YYYY/MM/DD'),
			#{customer_Address},
			#{customer_ZipCode},
			#{state_code},
			#{state_name},
			#{city_code},
			#{city_name},
			#{customer_Aadhar},
			#{customer_OccupationId},
			#{customer_Occupation},
			#{imgFile},
			#{customer_Password},
			#{joint_customer_FirstName},
			#{joint_customer_LastName},
			#{joint_customer_Gender},
			#{joint_customer_Phone},
			#{joint_customer_Email},
			TO_DATE(#{joint_customer_DOB}, 'YYYY/MM/DD'),
			#{joint_customer_Address},
			#{joint_customer_ZipCode},
			#{joint_state_code},
			#{joint_state_name},
			#{joint_city_code},
			#{joint_city_name},
			#{joint_customer_Aadhar},
			#{joint_customer_OccupationId},
			#{joint_customer_Occupation},
			now()
		)
	</insert>
	
	<insert id="insertBalance" parameterType="scii.training.model.TransactionsModel">
		insert into
			AVAILABLE_BALANCE(
				ACCOUNT_NUMBER,
				BALANCE
			)
		values(
			#{account_Number},
			#{balance}
		)
	</insert>

	<insert id="transferAmount" parameterType="scii.training.model.TransactionsModel">
		insert into
			TRANSACTIONS(
				FROM_ACCOUNT_NUMBER,
				TO_ACCOUNT_NUMBER,
				AMOUNT,
				TRANSACTION_DATE,
				DESCRIPTION,
				CR_DR
			)
		values(
			#{from_account_Number},
			#{to_account_Number},
			#{amount},
			TO_TIMESTAMP(#{transaction_Date}, 'YYYY/MM/DD HH24:MI:SS'),
			#{description},
			#{cr_dr}
		)
	</insert>
	
	<update id="updateLastLogin" parameterType="scii.training.model.RegisterModel">
		update
			SBIUSERS
		set
			LAST_LOGIN_DATETIME = TO_TIMESTAMP(#{last_login_dateTime}, 'YYYY/MM/DD HH24:MI:SS')
		where
			CUSTOMER_ID = #{customer_Id}
	</update>

	<update id="updateBalance" parameterType="scii.training.model.TransactionsModel">
		update
			AVAILABLE_BALANCE
		set
			BALANCE = #{balance}
		where
			ACCOUNT_NUMBER = #{account_Number}
	</update>

</mapper>